body {
	font-family: helvetica, sans-serif;
}

.complete {
	text-decoration: line-through;
	color: green;
}

h1 {
	text-align: center;
}

form {
	text-align: center;
}

.done {
	position: absolute;
	right: 62px;
}

.delete {
	position: absolute;
	right: 10px;
}